[submodule "term/.config/base16-shell"]
	path = term/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
	branch = master
[submodule "gtk/.themes/FlatColor"]
	path = gtk/.themes/FlatColor
	url = https://github.com/jasperro/FlatColor
[submodule "vim/.config/nvim"]
	path = vim/.config/nvim
	url = git@github.com:1wilkens/init.lua
