[Unit]
Description=Randomize wallpaper and reload swaybg
PartOf=graphical-session.target

[Service]
Type=oneshot
StartLimitBurst=20
ExecStart=%h/bin/randpaper.sh

[Install]
WantedBy=sway-session.target
